/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&display=swap');
$standard-font: "Inter", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$header-font: "Montserrat", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$monospace-font: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$anim-duration: 0.1s;

/* Sizing */
$wide-max-width: 1600px;
$max-width: 1400px;
$thin-max-width: 1000px;
$form-breakpoint: 460px;

/* Light mode colors */
$btn-hover-light: rgb(215, 133, 0);
$active-link-light: #3dabf5;
$container-bkg-light: #FFFFFF;
$content-frg-light: #000000;
$normal-link-light: #0979c3;
$body-bkg-light: #F9F9F9;
$body-frg-light: #000000;
$accent-frg-light: #000000;
$accent-bkg-light: #e0e0e0;
$border-light: #303030;
$shadow-light: #696969;
$button-hover-light: #cdcdcd;

/* Dark mode colors */
$btn-hover-dark: rgb(247, 207, 62);
$active-link-dark: #77c5f9;
$container-bkg-dark: #202020;
$border-dark: #cdcdcd;
$normal-link-dark: #86ceff;
$body-bkg-dark: #1B1B1B;
$body-frg-dark: #EEEEEE;
$accent-frg-dark: #EEEEEE;
$accent-bkg-dark: #303030;
$border-dark: #cdcdcd;
$shadow-dark: #303030;
$button-hover-dark: #646464;

@mixin noselect() {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin border($color) {
	border-width: 0;
	border-bottom-width: 3px;
	border-style: solid;
	border-image-slice: 1;
	border-image-source: linear-gradient(to right, $color, transparent);
}
img.ea-entity-icon{
	margin:0px 6px;
}
div.content-header-title > h1.title{
	font-weight: 500;
}

.ts-wrapper .ts-control {
    height: initial;
}
span.navbar-icon-trw-ea.trw-admin.logo-custom{
	font-family: $header-font;
}

nav a img {
    padding: 0px 4px;
    box-sizing: initial !important;
}

.accordion-body.trw {
	display: flex;
	column-gap: 5px;
	padding: 10px;
	align-items: center;

	div.accordion-body-widget {
		flex-grow: 1;
	}

	div.accordion-body-delete-btn {
		flex-grow: 0;
		// align-self: center;
	}
}
@media (max-width: 1325px){
	.content-header {
		flex-direction: column;
	}
}


.editor-errors {
	display: flex;
	flex-direction: row;
	column-gap: 5px;
	align-items: center;
}
.bios-bot-csv-box{
	border: 1px solid #cbd5e1;
	@media (prefers-color-scheme: dark) {
		border: 1px solid #525252;
	}
	border-radius: 4px;
	padding: 10px;
	>div{
		padding-bottom: 5px;
		>span{
			min-width: 80px;
			display: inline-block;
		}
	}
}
div.show-nav-ea {
	@include noselect();
	flex-grow: 1;
	display: flex;
	align-items: end;
	flex-wrap: wrap;
	gap: 2px;

	input {
		display: none;
	}

	label {
		display: inline-table;
		align-items: center;
		padding: 8px 10px;
		height: 24px;
		cursor: pointer;
		transition: ease-in-out background-color $anim-duration, ease-in-out color $anim-duration;

		img {
			margin-right: 5px;
		}

		border-radius: 5px 5px 0px 0px;
		border: thin solid transparent;

		&:hover {
			transition: ease-in-out background-color $anim-duration, ease-in-out color $anim-duration;
			color: $active-link-light;

			@media (prefers-color-scheme: dark) {
				color: $active-link-dark;
			}
		}
	}

	label:hover,
	input[name="tabs"]:checked+label {
		transition: ease-in-out background-color $anim-duration, ease-in-out color $anim-duration;
		background: $container-bkg-light;
		border: thin solid $content-frg-light;
		border-bottom: thin solid $active-link-light;

		@media (prefers-color-scheme: dark) {
			background: $container-bkg-dark;
			border: thin solid $border-dark;
			border-bottom: thin solid $active-link-dark;
		}
	}
}
div.vich-download-flex{
	display: flex;
	flex-direction: column;
	div.row-flex{
		display: flex;
		flex-direction: row;
		@media screen and (max-width: 1400px) {
			flex-direction: column;
		}
	}
}

.actions {
	display: flex;
	justify-content: center;
	padding: 8px 0px !important;

	a {
		border: 1px solid var(--button-secondary-bg);
		padding: 3px 5px;
		border-radius: 3px;
		background-color: var(--button-secondary-bg);
		color: var(--button-secondary-color);
		transition: ease-in-out 0.15s all;

		&:hover {
			//color: var(--blue-400);
			border-color: var(--blue-400);
		}

		&.text-danger:hover {
			border-color: $btn-hover-dark;

			span {
				color: $btn-hover-dark;
			}
		}

	}
}
/* hide save buttons when JS is used */
div.hide-actions{
	button.action-saveAndContinue, button.action-saveAndReturn{
		display: none;
	}
	button, a{
		margin-top: 5px;
	}
}
/* driver editor stuff */
div.driver-messages {
	padding-right: 10px;

	span {
		vertical-align: top;
	}

	progress {
		height: 25px;
	}

	img {
		display: none;
	}
	#driver-error-div{
		background-color:#d43934;color:#e0e0e0;padding:5px 10px 5px;border-radius:4px;
	}
}
div.widget90 {
	width:90%;
	display: inline-block !important;
}

div.image-bulk-box{
	padding:5px;
	span.bulk-box-label{
		width:75px;
		display: inline-block;
	}
	input.image-input{
		padding: 30px 30px;
		border: 1px dashed black;
		@media (prefers-color-scheme: dark) {
			border: 1px dashed white;
		}
	}
	div.bulk-box-secondary{
		display: flex;
		column-gap: 5px;
		padding-top: 5px;
		& > div{
			width:50%;
		}
	}
}

input.trw-bigfilebox{
	padding: 25px;
	width: 100%;
	border: 1px dashed black;
	@media (prefers-color-scheme: dark) {
		border: 1px dashed white;
	}
}
/* misc specs styling */
div.card-specs-grid textarea{
	min-height: 30rem;
}
div.specs-elements{
	display: flex;
	gap: 5px;
	padding: 0;
	label{
		display: none;
	}
	div.first{
		flex-grow: 4;
	}
	div.second{
		flex-grow: 6;
	}
}
/* form customization bongaloo */
div.multi-widget-trw{
	div.ts-wrapper{
		background-color: #ffffff;
		@media (prefers-color-scheme: dark) {
			background-color: #252525;
		}
	}
	.ts-wrapper.multi .ts-control>div.item{
			font-size: 15px;
			padding: 4px 6px;
			width:85%;
			a.remove{
				border-left: 1px solid transparent;
				margin-left: auto;
				i{font-size: 19px;}
			}
	}
	div.ts-control{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
}
div.count-css > div{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	span{
		flex: 1 0 30%;
		padding: 0px 6px;
		font-size: 1.1rem;
	}
	input{
		flex: 1 0 70%;
	}
	div.invalid-feedback{
		display: flex;
		flex-basis: 100%;
	}
}
div.padright{
	padding-left: 0;
	padding-right: 5px;
}
div.nopadright{
	padding-right: 0;
}
div.nopadleft{
	padding-left: 0;
}
div.mobo-bios{
	div.row{
		padding: 0px 10px;
	}
}
@media screen and (min-width: 1400px) {
	div.col-xxl-2-5{
		flex:0 0 auto;
		width:21%
	}
}
/* ts multi select and delete buttons */
i.red{
	color: var(--link-danger-color);
}
.ts-wrapper.multi .ts-control>div.clear-button {
	box-shadow: none;
}
.plugin-clear_button.ts-wrapper .clear-button, .plugin-clear_button.ts-wrapper.multi .clear-button {
	background: transparent!important;
}
.plugin-clear_button.ts-wrapper .clear-button:hover, .plugin-clear_button.ts-wrapper.multi .clear-button:hover {
    background: transparent!important;
	i.red{
		color: $btn-hover-light;
		@media (prefers-color-scheme: dark) {
			color: $btn-hover-dark;
		}
	}
}
.ts-wrapper.plugin-remove_button .item .remove:hover {
	background: transparent;
	i.red{
		color: $btn-hover-light;
		@media (prefers-color-scheme: dark) {
			color: $btn-hover-dark;
		}
	}
}
div.clear-button-trw{
	border: none !important;
}

.form-widget .form-select,
.form-widget input.form-control,
.form-widget textarea.form-control {
	white-space: initial;
}

.shide {
	margin: 0px 5px;
	padding: 5px 8px;
	transition: ease-in-out 0.1s background-color;
	box-shadow: none !important;

	&:hover {
		background-color: $btn-hover-dark;
	}
}
input.items-placeholder{
	display: none !important;
}
.ts-wrapper.form-select.multi{
	div.clear-button{
		top: 15px !important;
		right: 17% !important;
	}
	div.ts-control{
		min-height: 28px;
	}
}
/* creditor images */
div.perks {
    p {
        padding-bottom: 5px;
        @include border($normal-link-light);

        @media (prefers-color-scheme: dark) {
            @include border($normal-link-dark);
        }
    }

    div.perks-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

        div.perk {
            background-color: $body-bkg-light;
            border: 1px solid $normal-link-light;
            border-radius: 6px;
            display: inline-block;
            margin: 3px;
            transition: ease-in-out .15s box-shadow, ease-in-out .15s border-color, ease-in-out .15s color, ease-in-out .15s background-color;

            @media (prefers-color-scheme: dark) {
                background-color: $body-bkg-dark;
                border: 1px solid $normal-link-dark;
            }

            &:hover {
                border: 1px solid $active-link-light;

                @media (prefers-color-scheme: dark) {
                    border: 1px solid $active-link-dark;
                }

                a div.perk-name {
                    color: $active-link-light;
                    transition: ease-in-out .15s box-shadow, ease-in-out .15s border-color, ease-in-out .15s color, ease-in-out .15s background-color;

                    @media (prefers-color-scheme: dark) {
                        color: $active-link-dark;
                    }
                }
            }

            a div.perk-image,
            div.perk-image {
                border-radius: 6px;
                display: flex;
                height: 285px;
                width: 100%;
                background-color: $accent-bkg-light;

                @media (prefers-color-scheme: dark) {
                    background-color: $accent-bkg-dark;
                }

                img,
                a.glightbox img {
                    margin: auto;
                    width: auto;
                    height: auto;
                    max-width: min(325px, 95%);
                    max-height: 275px;
                }

                a.glightbox {
					display: flex;
                    margin: auto;
                }
            }

            a div.perk-name {
                padding: 10px;
                color: $normal-link-light;

                @media (prefers-color-scheme: dark) {
                    color: $normal-link-dark;
                }
            }

            div.perk-name {
                padding: 10px;
                transition: ease-in-out .15s box-shadow, ease-in-out .15s border-color, ease-in-out .15s color, ease-in-out .15s background-color;
            }

            a div.perk-date,
            a div.perk-alias,
            div.perk-date,
            div.perk-alias {
                color: $accent-frg-light;
                padding: 10px;

                @media (prefers-color-scheme: dark) {
                    color: $accent-frg-dark;
                }
            }
        }

        &.perks-tiny {
            grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));

            div.perk {

                a div.perk-image,
                div.perk-image {
                    height: 180px;

                    img,
                    a.glightbox img {
                        max-width: 150px;
                        max-height: 150px;
                    }
                }
            }
        }
    }
}
div.pagination {
	@include noselect();
	padding-bottom: 10px;
	width: 100%;

	a, button, span {
		&.current {
			background-color: $active-link-light;
			color: $body-frg-light;

			@media (prefers-color-scheme: dark) {
				background-color: $active-link-dark;
			}
		}

		&.first, &.previous, &.next, &.last {
			width: 5.3rem;
		}
	}

	div.info {
		display: block;
		text-align: right;
		opacity: 0.75;
		font-size: 75%;
	}
}
a.button-widget, span.button-widget {
	font-family: $standard-font;
	font-size: 11pt;
	transition: ease-in-out $anim-duration box-shadow, ease-in-out $anim-duration background-color;
	padding: 3px 5px;
	border: solid thin $border-light;
	border-radius: 5px;
	//box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
	background: $body-bkg-light;
	color: $accent-frg-light;
	display: flex;
	height: 24px;
	display: flex;
	align-items: center;
	column-gap: 5px;
    max-width: max-content;
	&:visited {
		color: $accent-frg-light;

		@media (prefers-color-scheme: dark) {
			color: $accent-frg-dark;
		}
	}

	&:hover,
	&:active {
		transition: ease-in-out $anim-duration box-shadow, ease-in-out $anim-duration background-color;
		box-shadow: 0px 0px 2px $shadow-light;
		background-color: $button-hover-light;

		@media (prefers-color-scheme: dark) {
			background-color: $button-hover-dark;
		}
	}

	@media (prefers-color-scheme: dark) {
		background: $accent-bkg-dark;
		color: $accent-frg-dark;
		border-color: transparent;
	}

	@include noselect();

	img {
		max-height: 22px;
		padding-right: 3px;
	}
}
div.toolbar {
	padding-bottom: 10px;
	padding-top: 10px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;

	input {
		display: none;
	}
    &.thin{
        display: flex;
        flex-wrap: nowrap;
        align-items: end;
        padding-bottom: 0;
        padding-top: 0;
    }
	&.toolbar-thin {
		padding-bottom: 5px;
		padding-top: 5px;

		button,
		a.button {
			padding: 3px;
			margin: 3px;
			width: auto;
		}
	}

	&.toolbar-main {
		justify-content: center;
	}
}
.gslide-image img {
    object-fit: contain !important;
    @media (min-width: 770px) {
        min-height: 66vh;
        max-height: 67vh;
    }
    @media (min-width: 1200px) {
        min-height: 78vh;
        max-height: 91vh;
    }
    @media (min-width: 1400px) {
        min-height: 85vh;
        max-height: 90vh;
    }
}